
environment       = "dev"
project           = "project-dev"

service_account_email = "datamart-creator@project-dev.iam.gserviceaccount.com"


import_resources = {
    "table": [],
    "view": [],
    "scheduled_query": [],
    "tvf": []
}
